* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../assets/coffee5.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  width: 350px;
  height: auto;
  margin: 200px auto;
}

.outer-container {
  width: 350px;
  position: absolute;
  height: 625px;
  border-radius: 20px 20px 0px 0px;
  background: rgba(34, 33, 33, 0.616);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  display: none;
}

.outer-grid-container {
  width: 300px;
  padding: 10px;
  padding-bottom: 30px;
  margin: 100px auto;
  position: relative;
  display: -ms-grid;
  display: grid;
  grid-gap: 5px;
  -ms-grid-rows: auto auto auto auto;
      grid-template-rows: auto auto auto auto;
  line-height: 50px;
  border-radius: 20px 20px 20px 20px;
  background-color: #fff;
}

.close {
  width: 20px;
  height: 20px;
  padding: 8px;
  margin-top: 8px;
  margin-left: 250px;
  line-height: 22px;
  text-align: center;
  color: #000;
  font-weight: bold;
  font-size: 30px;
  color: #fff;
  background-color: #33cccc;
  border-radius: 60px 60px 60px 60px;
  cursor: pointer;
}

.gesture {
  text-align: center;
  font-size: 1.8em;
  font-weight: 600;
  font-family: Segoe UI;
  background-color: #fff;
}

.message {
  text-align: center;
  font-size: 1.1em;
  font-family: Segoe UI;
  background-color: #fff;
}

#checkout {
  font-weight: 500;
  background-color: #fff;
}

.email {
  padding: 10px;
  background-color: #fff;
}

#your-email {
  display: block;
  margin: auto;
  padding: 10px;
  height: 30px;
  width: 260px;
  outline: none;
  border: 1px solid #e6e6e6;
  border-radius: 5px 5px 5px 5px;
  background-color: #F3F3F3;
  font-size: 16px;
  font-weight: 500;
  font-family: Segoe UI;
}

#your-email:focus {
  border: 1px solid #33cccc;
}

.pay-info {
  color: #6b6b6b;
  text-align: center;
  font-size: 1em;
  font-family: Segoe UI;
  padding-bottom: 10px;
  background-color: #fff;
}

#pay-type {
  display: block;
  margin: auto;
  padding: 10px;
  width: 280px;
  height: 50px;
  color: #fff;
  border: none;
  border-radius: 50px 50px 50px 50px;
  background-color: #33cccc;
  font-size: 1.3em;
  font-weight: bold;
  font-family: Segoe UI;
  cursor: pointer;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  grid-gap: 1px;
  -ms-grid-rows: auto auto auto auto;
      grid-template-rows: auto auto auto auto;
  -webkit-box-shadow: 0px 0px 0px 0px #e6e6e6;
          box-shadow: 0px 0px 0px 0px #e6e6e6;
  line-height: 90px;
  border-radius: 20px 20px 20px 20px;
  background-color: #fff;
}

.item1 {
  text-align: center;
  color: #000;
  font-family: Segoe UI;
  font-size: 25px;
  font-weight: bold;
  border-radius: 20px 20px 0 0;
  background-color: #fff;
}

.item2 {
  display: -ms-grid;
  display: grid;
  gap: 5px;
  margin: auto;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  background-color: #fff;
}

.item3 {
  padding: 20px;
  display: -ms-grid;
  display: grid;
  gap: 8px;
  margin: auto;
  -ms-grid-columns: 54px 54px 54px 30px 64px;
      grid-template-columns: 54px 54px 54px 30px 64px;
  background-color: #fff;
}

.item4 {
  padding: 20px;
  background-color: #fff;
}

.item5 {
  padding: 10px;
  padding-bottom: 20px;
  background-color: #fff;
}

.item6 {
  padding: 10px;
  padding-bottom: 50px;
  background-color: #fff;
}

.item7 {
  text-align: center;
  border-radius: 0 0 20px 20px;
  background-color: #F3F3F3;
}

.image {
  width: 60px;
  margin-top: 15px;
  background-color: transparent;
}

.price {
  font-weight: normal;
  font-size: 1.5em;
  background-color: transparent;
  font-family: Segoe UI;
}

#one {
  color: #fff;
  width: 55px;
  height: 55px;
  border: none;
  font-weight: bold;
  border-radius: 50px 50px 50px 50px;
  background-color: #33cccc;
  -webkit-box-shadow: 2px 2px 3px 0px #e6e6e6;
          box-shadow: 2px 2px 3px 0px #e6e6e6;
}

#one:hover {
  cursor: pointer;
  background-color: #adebeb;
}

#two {
  color: #fff;
  width: 55px;
  height: 55px;
  border: none;
  font-weight: bold;
  border-radius: 50px 50px 50px 50px;
  background-color: #33cccc;
  -webkit-box-shadow: 2px 2px 3px 0px #e6e6e6;
          box-shadow: 2px 2px 3px 0px #e6e6e6;
}

#two:hover {
  cursor: pointer;
  background-color: #adebeb;
}

#three {
  color: #fff;
  width: 55px;
  height: 55px;
  border: none;
  font-weight: bold;
  border-radius: 50px 50px 50px 50px;
  background-color: #33cccc;
  -webkit-box-shadow: 2px 2px 3px 0px #e6e6e6;
          box-shadow: 2px 2px 3px 0px #e6e6e6;
}

#three:hover {
  cursor: pointer;
  background-color: #adebeb;
}

.middleText {
  line-height: 95px;
  margin: -20px auto;
  font-weight: 500;
  font-size: 1.2em;
  background-color: transparent;
  font-family: Segoe UI;
}

#a-choice {
  width: 60px;
  text-align: center;
  outline: none;
  border: 2px solid #adebeb;
  border-radius: 6px 6px 6px 6px;
  background-color: #fff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

#your-name {
  display: block;
  margin: auto;
  padding: 10px;
  height: 30px;
  width: 280px;
  outline: none;
  border: 1px solid #e6e6e6;
  border-radius: 5px 5px 5px 5px;
  background-color: #F3F3F3;
  font-size: 14px;
  font-weight: 500;
  font-family: Segoe UI;
}

#your-name:focus {
  border: 1px solid #33cccc;
}

#message {
  display: block;
  margin: auto;
  padding: 10px;
  height: 90px;
  width: 280px;
  resize: none;
  outline: none;
  border: 1px solid #e6e6e6;
  background-color: #F3F3F3;
  border-radius: 5px 5px 5px 5px;
  font-size: 14px;
  font-weight: 500;
  font-family: Segoe UI;
}

#message:focus {
  border: 1px solid #33cccc;
}

#bnw {
  display: block;
  margin: auto;
  padding: 10px;
  width: 300px;
  height: 50px;
  color: #fff;
  border: none;
  border-radius: 50px 50px 50px 50px;
  background-color: #33cccc;
  font-size: 1.1em;
  font-weight: bold;
  font-family: Segoe UI;
  cursor: pointer;
}

#bnw:hover {
  background-color: #adebeb;
}

#incre {
  background-color: transparent;
}

.btnLink {
  color: #000;
  padding: 15px;
  padding-left: 80px;
  padding-right: 80px;
  border-radius: 50px 50px 50px 50px;
  text-decoration: none;
  background-color: #fff;
  font-weight: 500;
  font-family: Segoe UI;
}
/*# sourceMappingURL=style.css.map */