@import "variables";

*{
    margin: 0;
    padding: 0;
    background-color: $myWhite;
}
.outer-container{
    width: 350px;
    position: absolute;
    height: 625px;
    border-radius: 20px 20px 0px 0px;
    background: rgba(34, 33, 33, 0.616);
    backdrop-filter: blur(8px);
    display: none;
}
.outer-grid-container{
    width: 300px;
    padding: 10px;
    padding-bottom: 30px;
    margin: 100px auto;
    position: relative;
    display: grid;
    grid-gap: 5px;
    grid-template-rows: auto auto auto auto;
    line-height: 50px;
    border-radius: 20px 20px 20px 20px;
}
.close{
    width: 20px;
    height: 20px;
    padding: 8px;
    margin-top: 8px;
    margin-left: 250px;
    line-height: 22px;
    text-align: center;
    color: $myBlack;
    font-weight: bold;
    font-size: 30px;
    color: $myWhite;
    background-color: #33cccc;
    border-radius: 60px 60px 60px 60px;
    cursor: pointer;
}
.gesture{
    text-align: center;
    font-size: 1.8em;
    font-weight: 600;
    font-family: $myFontFamily;
}
.message{
    text-align: center;
    font-size: 1.1em;
    font-family: $myFontFamily;
}
.email{
    padding: 10px;
}
#your-email{
    display: block;
    margin: auto;
    padding: 10px;
    height: 30px;
    width: 260px;
    outline: none;
    border: 1px solid #e6e6e6;
    border-radius: 5px 5px 5px 5px;
    background-color: $myBackgroundColor;
    font-size: 16px;
    font-weight: 500;
    font-family: $myFontFamily;
}
#your-email:focus{
    border: 1px solid #33cccc;
}
.pay-info{
    color: rgb(107, 107, 107);
    text-align: center;
    font-size: 1em;
    font-family: $myFontFamily;
    padding-bottom: 10px;
}
#pay-type{
    display: block;
    margin: auto;
    padding: 10px;
    width: 280px;
    height: 50px;
    color: $myWhite;
    border: none;
    border-radius: 50px 50px 50px 50px;
    background-color: #33cccc;
    font-size: 1.3em;
    font-weight: $myFontWeight;
    font-family: $myFontFamily;
    cursor: pointer;
}
.container{
    width: 350px;
    height: auto;
    margin: 200px auto;
}
.grid-container{
    display: grid;
    grid-gap: 1px;
    grid-template-rows: auto auto auto auto;
    box-shadow:0px 0px 8px 0px $myGrey;
    line-height: 90px;
    border-radius: 20px 20px 20px 20px;
}
.item1{
    text-align: $myText;
    color: $myBlack;
    font-family: $myFontFamily;
    font-size: $myFontSizeOne;
    font-weight: $myFontWeight;
    border-radius: 20px 20px 0 0;
}
.item2{
    display:grid;
    gap: 5px;
    margin: auto;
    grid-template-columns: auto auto;
}
.item3{
    padding: 20px;
    display: grid;
    gap: 8px;
    margin: auto;
    grid-template-columns: 54px 54px 54px 30px 64px ;
}
.item4{
    padding: 20px;
}
.item5{
    padding: 10px;
    padding-bottom: 20px;
}
.item6{
    padding: 10px;
    padding-bottom: 50px;
}
.item7{
    text-align: center;
    border-radius: 0 0 20px 20px;
    background-color: $myBackgroundColor;
}
.image{
    width: 60px;
    margin-top: 15px;
    background-color: transparent;
}
.price{
    font-weight: normal;
    font-size: 1.5em;
    background-color: transparent;
    font-family: $myFontFamily;
}
#one{
    color: $myWhite;
    width: 55px;
    height: 55px;
    border: none;
    font-weight: $myFontWeight;
    border-radius:50px 50px 50px 50px;
    background-color: #33cccc;
    box-shadow: 2px 2px 3px 0px #e6e6e6;
}
#one:hover{
    cursor: pointer;
    background-color: #adebeb;
}
#two{
    color: $myWhite;
    width: 55px;
    height: 55px;
    border: none;
    font-weight: $myFontWeight;
    border-radius:50px 50px 50px 50px;
    background-color: #33cccc;
    box-shadow: 2px 2px 3px 0px #e6e6e6;
}
#two:hover{
    cursor: pointer;
    background-color: #adebeb;
}
#three{
    color: $myWhite;
    width: 55px;
    height: 55px;
    border: none;
    font-weight: $myFontWeight;
    border-radius:50px 50px 50px 50px;
    background-color: #33cccc;
    box-shadow: 2px 2px 3px 0px #e6e6e6;
}
#three:hover{
    cursor: pointer;
    background-color: #adebeb;
}
.middleText{
    line-height: 95px;
    margin: -20px auto;
    font-weight: 500;
    font-size: 1.2em;
    background-color: transparent;
    font-family: $myFontFamily;
}
#a-choice{
    width: 60px;
    text-align: $myText;
    outline: none;
    border: 2px solid #adebeb;
    border-radius: 6px 6px 6px 6px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}
#your-name{
    display: block;
    margin: auto;
    padding: 10px;
    height: 30px;
    width: 280px;
    outline: none;
    border: 1px solid #e6e6e6;
    border-radius: 5px 5px 5px 5px;
    background-color: $myBackgroundColor;
    font-size: 14px;
    font-weight: 500;
    font-family: $myFontFamily;
}
#your-name:focus{
    border: 1px solid #33cccc;
}
#message{
    display: block;
    margin: auto;
    padding: 10px;
    height: 90px;
    width: 280px;
    resize: none;
    outline: none;
    border: 1px solid #e6e6e6;
    background-color: $myBackgroundColor;
    border-radius: 5px 5px 5px 5px;
    font-size: 14px;
    font-weight: 500;
    font-family: $myFontFamily;
}
#message:focus{
    border: 1px solid #33cccc;
}
#bnw{
    display: block;
    margin: auto;
    padding: 10px;
    width: 300px;
    height: 50px;
    color: $myWhite;
    border: none;
    border-radius: 50px 50px 50px 50px;
    background-color: #33cccc;
    font-size: 1.1em;
    font-weight: $myFontWeight;
    font-family: $myFontFamily;
    cursor: pointer;
}
#bnw:hover{
    background-color: #adebeb;
}
#incre{
    background-color: transparent;
}
.btnLink{
    color: $myBlack;
    padding: 15px;
    padding-left: 80px;
    padding-right: 80px;
    border-radius: 50px 50px 50px 50px;
    text-decoration: none;
    background-color: $myWhite;
    font-family: $myFontFamily;
}
