$myFontFamily : Segoe UI;
$myFontSize : normal;
$myFontSizeOne : 25px;
$myFontSizeTwo : 20px;
$myFontWeight : bold;
$myText : center;
$myWhite : #fff;
$myGrey : #e6e6e6;
$myOrange : #ff9933;
$myBlack : #000;
$myBackgroundColor: #F3F3F3;


